services:

    frontend:
        container_name: walecom-web
        image: walecom-web:dev
        build:
            target: development
        env_file:
            - .env.dev
        environment:
            - NODE_ENV=development
        ports:
            - "3000:3000"
