services:

    frontend:
        container_name: walecom-web
        image: walecom-web:dev
        restart: unless-stopped
        build:
            target: development
        env_file:
            - .env.dev
        environment:
            - NODE_ENV=development
        ports:
            - "${FRONTEND_PORT:-3000}:3000"
